@model AccountCreateView

<div class="col-xs-12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="widget-title-icon fa fa-th-list"></span>
            <h5>@Headers.AdministrationAccounts</h5>
        </div>
        <div class="widget-content">
            @using (Html.BeginForm())
            {
                <input type="password" style="display: none" /> @* Forcing browser to not remember following form inputs *@
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="control-label col-sm-12 col-md-3 col-lg-2">
                        @Html.FormLabelFor(model => model.Username)
                    </div>
                    <div class="control-content col-sm-12 col-md-9 col-lg-5">
                        @Html.FormTextBoxFor(model => model.Username)
                    </div>
                    <div class="control-validation col-sm-12 col-lg-5">
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-12 col-md-3 col-lg-2">
                        @Html.FormLabelFor(model => model.Password)
                    </div>
                    <div class="control-content col-sm-12 col-md-9 col-lg-5">
                        @Html.FormPasswordFor(model => model.Password)
                    </div>
                    <div class="control-validation col-sm-12 col-lg-5">
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-12 col-md-3 col-lg-2">
                        @Html.FormLabelFor(model => model.Email)
                    </div>
                    <div class="control-content col-sm-12 col-md-9 col-lg-5">
                        @Html.FormTextBoxFor(model => model.Email)
                    </div>
                    <div class="control-validation col-sm-12 col-lg-5">
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-12 col-md-3 col-lg-2">
                        @Html.FormLabelFor(model => model.RoleId)
                    </div>
                    <div class="control-content col-sm-12 col-md-9 col-lg-5">
                        @Html.DatalistFor(model => model.RoleId, new BaseDatalist<Role, RoleView>(Url))
                    </div>
                    <div class="control-validation col-sm-12 col-lg-5">
                        @Html.ValidationMessageFor(model => model.RoleId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-actions col-sm-12 col-lg-7">
                        <input class="btn btn-primary" type="submit" value="@Actions.Submit" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
