@model AccountView

<div class="col-xs-12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="widget-title-icon fa fa-th-list"></span>
            <h5>@Headers.AdministrationAccounts</h5>
            <div class="widget-title-buttons">
                @if (Html.IsAuthorizedFor("Edit"))
                {
                    <a class="btn" href="@Url.Action("Edit", new { id = Model.Id })">
                        <i class="fa fa-pencil"></i><span class="text">@Actions.Edit</span>
                    </a>
                }
            </div>
        </div>
        <div class="widget-content">
            <div class="form-group">
                <div class="control-label col-sm-12 col-md-3 col-lg-2">
                    @Html.FormLabelFor(model => model.Username)
                </div>
                <div class="control-content col-sm-12 col-md-9 col-lg-5">
                    @Html.FormTextBoxFor(model => model.Username)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-12 col-md-3 col-lg-2">
                    @Html.FormLabelFor(model => model.Email)
                </div>
                <div class="control-content col-sm-12 col-md-9 col-lg-5">
                    @Html.FormTextBoxFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-12 col-md-3 col-lg-2">
                    @Html.FormLabelFor(model => model.IsLocked)
                </div>
                <div class="control-content col-sm-12 col-md-9 col-lg-5">
                    @Html.CheckBoxFor(model => model.IsLocked)
                </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="control-label col-sm-12 col-md-3 col-lg-2">
                    @Html.FormLabelFor(model => model.RoleTitle)
                </div>
                <div class="control-content col-sm-12 col-md-9 col-lg-5">
                    @Html.FormTextBoxFor(model => model.RoleTitle)
                </div>
            </div>
        </div>
    </div>
</div>
