﻿@using Texts = MvcTemplate.Resources.Views.Administration.Accounts.AccountView.Texts
@using MvcTemplate.Resources.Views.Auth.AccountRecoveryView

@model AccountRecoveryView

<div class="title text">@ContentTitles.AuthRecover</div>
<div class="separator"></div>

@using (Html.BeginForm())
{
    @Html.Partial("_AuthAlerts")

    @Html.AntiForgeryToken()
    <div class="auth-content">
        <div class="input-group">
            <span class="fa fa-envelope"></span>
            @Html.TextBoxFor(model => model.Email, new { autocomplete = "off", placeholder = Titles.Email })
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="@Actions.Recover" />
}

<div class="separator"></div>
<div class="auth-actions">
    <a class="text fa fa-sign-in" href="@Url.Action("Login")" data-toggle="tooltip" data-original-title="@Texts.Login" data-placement="bottom"></a>
    <a class="text fa fa-edit" href="@Url.Action("Register")" data-toggle="tooltip" data-original-title="@Texts.CreateNewAccount" data-placement="bottom"></a>
</div>